{% extends 'site/base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <h1 class="text-center text-black text-uppercase mt-5">A propos du SAPEF</h1>

    {% include "site/components/hr.html.twig" %}

    <div class="row justify-content-center mb-4">
        <div class="col-11 col-lg-9 d-flex justify-content-center flex-wrap">           
            <div class="card col-12 my-3 bg-primary text-white">
                <div class="card-body">
                    Depuis la création d’Euromaster France en 1994, le Syndicat Autonome du Personnel de la Société Piot Pneu a changé de nom pour s'appeller:
                    <div class="col-12 text-center h4 my-3"> S.A.P.E.F </div>
                    <div class="col-12 text-center h5 my-3">
                        ( <span class="first-letter-color-sapef">S</span>yndicat 
                        <span class="first-letter-color-sapef">A</span>utonome du 
                        <span class="first-letter-color-sapef">P</span>ersonnel d’
                        <span class="first-letter-color-sapef">E</span>uromaster 
                        <span class="first-letter-color-sapef">F</span>rance)
                    </div>
                    <ul class="col-12 my-5 list-group list-group-flush">Depuis cette date, nos actions n’ont cessées de se multiplier afin d'obtenir, d'améliorer, de changer...                                            
                        <li class="list-group-item mt-4">La défense des intérêts matériels et moraux individuels et collectifs du Personnel d’Euromaster.</li>
                        <li class="list-group-item">Resserrer les liens de solidarité entre l'ensemble des Salariés.</li>
                        <li class="list-group-item">Etudier les questions sociales et économiques en recherchant les solutions les plus favorables   aux salariés dans un climat constructif permettant l'obtention de certaines demandes.</li>
                        <li class="list-group-item">Proposer l'amélioration des conditions de travail d'hygiène et de sécurité du personnel.</li>
                        <li class="list-group-item">Négocier en début d'année les augmentations de salaire et les avantages sociaux.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}