{% extends 'site/base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <h1 class="text-center text-black text-uppercase mt-5">A propos du SAPEF</h1>

    {% include "site/components/hr.html.twig" %}

    <div class="row text-black justify-content-center mb-4">
        <div class="col-11 col-lg-9 d-flex justify-content-center flex-wrap">           
            <div class="card col-12 my-3 bg-primary">
                <div class="card-body">
                    <p class="lead">Depuis la création d’Euromaster France en 1994, le Syndicat Autonome du Personnel de la Société Piot Pneu a changé de nom pour s'appeller: LE SAPEF 
                    (<q class="qSapef"><span>S</span>yndicat <span>A</span>utonome du <span>P</span>ersonnel d’<span>E</span>uromaster <span>F</span>rance</q>)</p>
                    <p class="col-12 mt-4 lead">Depuis cette date, nos actions n’ont cessé de se multiplier afin d'obtenir et d'améliorer : </p>
                    <ul>                                               
                        <li>La défense des intérêts matériels et moraux individuels et collectifs du Personnel d’Euromaster.</li>
                        <li>Resserrer les liens de solidarité entre l'ensemble des Salariés.</li>
                        <li>Etudier les questions sociales et économiques en recherchant les solutions les plus favorables   aux salariés dans un climat constructif permettant l'obtention de certaines demandes.</li>
                        <li>Proposer l'amélioration des conditions de travail d'hygiène et de sécurité du personnel.</li>
                        <li>Négocier en début d'année les augmentations de salaire et les avantages sociaux.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}