{% extends 'site/base.html.twig' %}

{% block title %}Les actualités {% endblock %}

{% block body %}

    <div class="col-12 col-md-4 col-lg-3 py-2 d-flex justify-content-around">
        <div id="countdown">
            <div id='tiles'></div>
        </div>
    </div>

    {% if posts | length > 0 %}

        <div class="row justify-content-around my-5">
        
            {% for key,post in posts %}  

                {% include "site/components/card_posts.html.twig" with { 'donnee': post, 'key': key } %}

            {% endfor %}

        </div>
        
        <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
                {{ knp_pagination_render(posts, 'site/components/pagination.html.twig') }}
            </div>
        </div>
    
    {% else %}
        
        <div class="row justify-content-around">
            <div class="col-11 col-9">
                Aucun post pour le moment...
            </div>
        </div>

    {% endif %}

{% endblock %}
