{# read and display all flash messages #}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div id="flashMessage" class="col-11 mx-auto d-flex justify-content-end mt-5 z-3 position-absolute">
                <div class="d-inline-block text-center p-3 bg-{{ label }}" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
