{% extends 'member/base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}

    <div class="col-12">
        {# table paiements #}
        {% include "member/components/_card_paiements.html.twig" %}
    </div>
    <div class="col-12">
        {# table questions #}
        {% include "member/components/_card_questions.html.twig" %}
    </div>

{% endblock %}