<div class="card p-0 mt-3">
    <div class="card-header">Vos questions</div>
    <div class="card-body">
        <table class="table table-striped text-center">
            <tr>
                <th>Posée le:</th>
                <th>Question:</th>
                <th>Réponse:</th>
            </tr>
            {% if questions | length > 0 %}
            
                {% for question in questions %}
                    <tr>
                        <td>{{ question.createdAt | date('d-m-Y') }}</td>
                        <td>{{ question.question }} </td>
                        <td>
                            {% if question.answer is not null %}
                                Oui le {{ question.answeredAt | date('d-m-Y') }}
                            {% else %}
                                Pas encore de réponse...
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="3">Aucune pour le moment...</td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>