<ul class="nav flex-row flex-md-column pt-4">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ path('member_dashboard') }}">Tableau de bord</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('member_useful_links') }}">Liens utiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('member_account') }}">Mon compte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('member_invitation') }}">Vos invitations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="#">Réglages</a>
    </li>
</ul>